
<!-- Modal -->
<div class="modal fade" id="registrationModal" tabindex="-1" aria-labelledby="registrationModalLabel" aria-hidden="true">
    <div class="modal-dialog d-flex justify-content-center">
        <div class="modal-content pt-3">

            <div class="flex-none px-3">
                <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <%= render partial: 'shared/branding_modal_header' %>

            <div class="flex mt-3">
                <%= render full_details %>
            </div>

        </div>
    </div>
</div>
<!-- Modal -->
