

<div class="modal-branding-box">
  <div>
    <%= image_tag("https://storage.googleapis.com/h-pfolio-1-airbnb-app-bucket-0/images/avatar.png", size:"100x100", class:"mx-auto", alt:"site avatar") %>
  </div>
</div>
