

<%= render partial: 'shared/branding_modal_header' %>

<div class="container mt-4 mb-5">

  <div class="container mb-5 text-white bg-primary rounded-5 text-center" style="width:600px;">
    <h2 class="">airbnb clone: (<%= @all_users.size %> users registered)</h2>
  </div>
  
  <%= render :partial => 'home/index_partial_0', :locals => { sub_p: 'home/index_partial_1' } %>

</div>
