

<%= render partial: 'shared/branding_modal_header' %>

<div class="container mt-4 mb-5">

  <div class="container mb-5 text-white bg-primary rounded-5 text-center" style="width:600px;">
<!--
    <h3 class="">airbnb clone: ( @all_users.size users registered )</h3>
-->
    <h3 class="">airbnb clone: ( num users registered )</h3>
  </div>
  

</div>
